Source: agnocast-kmod-v2.3.2
Section: kernel
Priority: optional
Maintainer: Takahiro Ishikawa-Aso <sykwer@gmail.com>
Homepage: https://github.com/tier4/agnocast
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 10), dh-dkms | dkms, fakeroot, rsync, linux-headers-generic | linux-headers

Package: agnocast-kmod-v2.3.2
Architecture: all
Depends: ${misc:Depends}, dkms, linux-headers-generic | linux-headers
Provides: agnocast-kmod
Conflicts: agnocast-kmod, agnocast-kmod-v2.1.0, agnocast-kmod-v2.1.1, agnocast-kmod-v2.1.2, agnocast-kmod-v2.2.0, agnocast-kmod-v2.3.0, agnocast-kmod-v2.3.1
Replaces: agnocast-kmod, agnocast-kmod-v2.1.0, agnocast-kmod-v2.1.1, agnocast-kmod-v2.1.2, agnocast-kmod-v2.2.0, agnocast-kmod-v2.3.0, agnocast-kmod-v2.3.1
Description: DKMS-based kernel module package for Agnocast
 This package provides the Agnocast kernel module
 managed via DKMS, enabling automatic rebuild upon
 kernel updates.
