#!/usr/bin/make -f
export CARGO_HOME=$(CURDIR)/.cargo

override_dh_auto_configure:
	# No configure step needed for this Cargo-based package
	true

override_dh_auto_build:
	rm -f Cargo.lock
	cargo build --release

override_dh_auto_clean:
	cargo clean

override_dh_auto_install:
	if [ "$$(dpkg-parsechangelog -S Distribution)" = "jammy" ]; then \
		ROS_DISTRO=humble; \
	else \
		ROS_DISTRO=jazzy; \
	fi; \
	install -D -m 0755 target/release/libagnocast_heaphook.so \
		debian/agnocast-heaphook-v2.3.3/opt/ros/$$ROS_DISTRO/lib/libagnocast_heaphook.so

override_dh_auto_test:
	# Skipping tests during package build
	true

%:
	dh $@ --buildsystem cargo
